.button-bar {
    width: 100%;
    position: relative;
    perspective: 1000px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(201, 179, 255);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.formBox {
    perspective: 1000px;
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.form-bodies {
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    position: absolute;
    perspective: 1000px;
    transform-origin: top left;
    display: none;
}

.formEdit {
    background-color: white;
    padding-left: 70px;
    padding-top: 90px;
    padding-bottom: 100px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.modalBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.isShowing {
    display: block;
}

.animate-in {
    animation: in 500ms ease-in-out
}

.modal-animation {
    animation: fade 1s ease-in-out
}

.animate-out {
    animation: out 1s ease-in-out forwards
}

.animate-up {
    transform: translateY(-500px) rotate(30deg)
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes in {
    0% {
        transform: rotateX(-90deg);
        opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes out {
    0% {
        transform: translateY(0px) rotate(0deg)
    }
    60% {
        transform: rotate(60deg)
    }
    100% {
        transform: translateY(800px) rotate(10deg)
    }
}

.form-group {
    margin-top: 20px;
}

.ghost-button {
    margin: 15px;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.0);
    font-family: 'Open Sans', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

.ghost-button:hover,
.ghost-button:active {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgb(0, 0, 0);
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: white;
}

.scrollbar {
    overflow: scroll;
    overflow-x: hidden;
    width: auto;
    height: 500px;
    padding-left: 15px;
}

#images {
    padding-left: 10%;
    padding-top: 5%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
}

::-webkit-scrollbar-thumb:active {
    background: #8c8c8c;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
