.button-bar{
  width:100%;
  position:relative;
  perspective: 1000px;
  margin-left:20px;
  margin-top:20px;
  background-color: black;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.formBox{
  perspective: 1000px;
  position:relative;
  width:100%;
  margin-left:20px;
}

.form-bodies{
  background-color: rgb(201, 179, 255);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:100%;
  position:absolute;
  perspective: 1000px;
  transform-origin: top left;
  display: none;
}

.modalBody{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.isShowing{
  display: block;
}

.animate-in{
  animation: in 500ms ease-in-out
}

.modal-animation{
  animation: fade 1s ease-in-out
}

.animate-out{
  animation: out 1s ease-in-out forwards
}

.animate-up{
  transform: translateY(-500px) rotate(30deg)
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100%{
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes out {
  0%{
    transform: translateY(0px) rotate(0deg)
  }
  60%{
    transform: rotate(60deg)
  }
  100%{
  transform: translateY(800px) rotate(10deg)
  }
}


.form-group{
  margin-top: 20px;
}

.ghost-button {
  margin: 15px;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255,0.0);
  font-family: 'Open Sans', sans-serif;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in,
              border 0.3s ease-in;
}

.ghost-button:hover,.ghost-button:active {
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255,0.9);
  border: 2px solid rgb(0, 0, 0);
}