.cover-bg{
  background-image: url('../Image/GProxpt.jpg');
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title{
  position: absolute;
  top: 2px;
  left: 20px;
  color: rgb(255, 255, 255);
}

.ghost-button {
  margin-left: 50px;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  padding: 8px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255,0.0);
  font-family: 'Open Sans', sans-serif;
  border: 5px solid rgb(0, 0, 0);
  text-align: center;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in,
              border 0.3s ease-in;
}

.ghost-button:hover,.ghost-button:active {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0,0.9);
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
}